{% extends 'base.html' %}

{% block main %}
    <div class="jumbotron">
        <div class="form-group">
            <button type="button" class="btn btn-success pull-right disabled" id="refresh">
                <i class="fa fa-1x fa-spinner"></i> Refresh
            </button>
        </div>

        <div class="form-group">
            <label for="channel"><i class="fa fa-1x fa-list"></i> Channel:</label>
            <select class="form-control" id="channel">
                <option selected="" value="">Select channel</option>
            </select>
        </div>

        <div class="form-group">
            <label for="username"><i class="fa fa-1x fa-search"></i> Username:</label>
            <input type="text" class="form-control" id="username" />
        </div>

        <div class="form-group">
            <label for="limit"><i class="fa fa-sort-numeric-asc fa-1x"></i> Maximum number of messages:</label>
            <input type="number" class="form-control" step="1" min="1" value="25" id="limit" onchange="update();">
        </div>

        <div class="form-group">
            <label for="offset"><i class="fa fa-sort-numeric-desc fa-1x"></i> Amount of messages to offset by:</label>
            <input type="number" class="form-control" step="1" min="0" value="0" id="offset" onchange="update();">
        </div>

        <div class="alert alert-danger hidden" id="error"></div>

        <div class="hidden alert alert-success"><i class="fa fa-comments-o fa-1x"></i> Retrieved <strong id="count"></strong> messages</div>
        <table id="messages" class="table table-bordered hidden">
            <thead>
                <tr>
                    <th>Date &amp; time (UTC):</th>
                    <th>Channel:</th>
                    <th>Display name:</th>
                    <th>Message:</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        /**
         * HTML-encodes certain characters
         *
         * @param  {String} str The string to encode
         * @return {String}     The encoded string
         */
        function htmlEntities(str)
        {
            return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
        }

        /**
         * Gets the value from the selector and trims it.
         *
         * @param  {String} selector The selector jQuery should look for.
         * @return {String}          The string value from the selector.
         */
        function value(selector)
        {
            return $(selector).val().trim();
        }

        /**
         * Fills the error box with the specified value.
         *
         * @param  {String} error The error to fill in with.
         * @return {Void}
         */
        function error(err)
        {
            var element = $('#error');
            if (element.hasClass('hidden')) {
                element.removeClass('hidden');
            }

            element.html(err);
        }

        /**
         * Makes sure update() doesn't run a request if one is already running.
         *
         * @type {Boolean}
         */
        var updating = false;

        /**
         * Updates the page with messages
         *
         * @return {Void}
         */
        function update()
        {
            if (updating) {
                error('You are already requesting messages. Please wait until the previous request has finished before requesting more messages.');
                return;
            }

            var channel = value('#channel');
            var username = value('#username');

            if (channel === "" && username === "") {
                error('Either a channel or username has to be specified!');
                return;
            }

            updating = true;

            var limit = parseInt(value('#limit'));
            var offset = parseInt(value('#offset'));

            var messages = $('#messages');
            messages.before('<p class="text-warning" id="loading">Loading...</p>');
            var loading = $('#loading');
            var refresh = $('#refresh');
            var count = $('#count');
            var countP = count.parent('div');

            if (!messages.hasClass('hidden')) {
                messages.addClass('hidden');
            }

            var err = $('#error');
            if (!err.hasClass('hidden')) {
                err.addClass('hidden');
            }

            $('tbody tr', messages).remove();

            if (!refresh.hasClass('disabled')) {
                refresh.addClass('disabled');
            }

            if (!countP.hasClass('hidden')) {
                countP.addClass('hidden');
            }

            $('.fa', refresh).addClass('fa-spin');
            $.ajax({
                url: '/api/messages',
                headers: {
                    channel: channel,
                    user: username,
                    limit: limit,
                    offset: offset
                },
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        var msgs = data.messages;
                        msgs.forEach(function (md) {
                            var date = new Date(parseInt(md.timestamp)).toUTCString().split(" ");
                            date.shift();
                            date.pop();

                            $('<tr/>')
                                .html('<th>' + date.join(" ") + '</th><td>' +  md.channel +'</td><td>' + md.user.display_name + '</td><td>' + htmlEntities(md.message) + '</td>')
                                .appendTo('tbody', messages);
                        });
                        messages.removeClass('hidden');
                        countP.removeClass('hidden');
                        count.html(data.count);
                    } else {
                        error(data.error);
                    }
                },
                error: function (xhr, status, err) {
                    var errMsg = err;
                    if (xhr.responseJSON) {
                        errMsg = xhr.responseJSON.error;
                    }

                    error('An error occurred loading messages: <strong>' + errMsg + '</strong>');
                },
                complete: function() {
                    updating = false;
                    loading.remove();
                    refresh.removeClass('disabled');
                    $('.fa', refresh).removeClass('fa-spin');
                }
            });
        }

        $(document).ready(function () {
            $.getJSON('/api/channels', function (data) {
                if (data.success) {
                    var channels = data.channels;

                    channels.sort();
                    $.each(channels, function (key, channel) {
                        $('#channel').append(
                            $('<option/>')
                                .val(channel)
                                .html(channel)
                        );
                    });
                }
            });

            $('#refresh').on('click', update);
            $('#channel').on('change', update);
            $('#username').on('change', update);
        });
    </script>
{% endblock %}
